.forgot-pass-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 2.5rem;
  background-color: #fff;
  width: 65rem;
  height: 44rem;
  margin: 0 auto;
  position: relative;
  top: 7.5rem;
}

.forgot-pass-form .message {
  width: 50%;
  text-align: center;
  font-weight: 400;
}

.forgot-pass-form input {
  display: block;
  width: 38rem;
  height: 2.4rem;
  border-radius: 25px;
  border: 3px solid #000;
  font-family: "Montserrat";
  padding: 2rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
}

.forgot-pass-form input::placeholder {
  color: #000;
}

.forgot-pass-form .logo {
  margin: 1rem 0rem 1.2rem 0rem;
  text-align: center;
}

.forgot-pass-form .logo > img {
  width: 60%;
}

.forgot-pass-form .forgot-password {
  align-self: flex-end;
  margin-right: 12rem;
  margin-top: -1.4rem;
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
}

.forgot-pass-form .forgot-password:hover {
  cursor: pointer;
}

.forgot-pass-form .confirm-btn {
  margin-top: -1rem;
  background-color: red;
  text-align: center;
  color: #fff;
  width: 38rem;
  height: 4.4rem;
  border-radius: 25px;
  border: 3px solid red;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 0rem;
  transition: all 0.3s ease;
}

.forgot-pass-form button:hover {
  background-color: #fff;
  color: red;
  cursor: pointer;
}

.forgot-pass-form > .backArrowIcon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.forgot-pass-form .submit-btn {
  margin-top: -1.2rem;
}

.forgot-pass-form .submit-btn .register-btn {
  color: red;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.forgot-pass-form .submit-btn .login-btn {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

/*  Error validation */
.forgot-pass-form label {
  position: relative;
}
.forgot-pass-form input.error {
  border-color: red;
}

.forgot-pass-form span.err-msg {
  color: red;
  position: absolute;
  left: 2rem;
  top: -2rem;
  font-style: italic;
  font-weight: 500;
  font-size: 1.2rem;
}

.forgot-pass-form .err-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
