.container {
  margin-top: 6.8rem;
  background-color: #000;
  padding: 4rem 8.8rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1.4px solid white;
}

.title {
  color: #fff;
  font: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* Information section */
.information {
  display: flex;
  flex-direction: column;
}

.clock-icon,
.phone-icon,
.website-icon,
.email-icon,
.location-icon {
  font-size: 2.3rem;
  min-width: 2.3rem;
}

.working-time,
.phone-number,
.website,
.email,
.location {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0rem;
}

.working-time > div > span {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}

.phone-number span {
  font-size: 1.3rem;
}

.website a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.email a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.location span {
  font-size: 1.3rem;
}

/* Links section */
.links {
  color: #fff;
}

.links .title {
  margin-bottom: 2.4rem;
}
.links a,
.links a:visited,
.links a:hover,
.links a:active {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: inherit;
  margin-bottom: 2.4rem;
  color: inherit;
}

.links a:hover {
  color: red;
  cursor: pointer;
}

/* Terms section */
.terms {
  color: #fff;
  margin-left: 4rem;
}

.terms .title {
  margin-bottom: 2rem;
}

.terms a,
.terms a:hover,
.terms a:visited,
.terms a:active {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: inherit;
  margin-bottom: 2.4rem;
  color: inherit;
}

.terms a:hover {
  cursor: pointer;
  color: red;
}

.terms span {
  display: block;
  margin-top: 4rem;
}
.terms span img {
  width: 6.8rem;
}

/* Registration news section */
.registration {
  margin-left: 4rem;
  width: 29rem;
  color: #fff;
  font-family: inherit;
}

.registration .title {
  margin-bottom: 1.7rem;
}
.registration .description {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
}

.registration-form {
  margin-top: 3.6rem;
}

.registration-form input {
  width: 25.6rem;
  height: 2.8rem;
  border-radius: 20rem;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  border: 0.1px solid #000;
}
.registration-form input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
}

.registration-form input:focus {
  outline: none;
}

.registration button {
  margin-top: 2rem;
  width: 25.6rem;
  padding: 0.4rem 0rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 20rem;
  border: 3px solid red;
  background-color: red;
  color: #fff;
  transition: 0.2s all ease;
}

.registration button:hover {
  color: red;
  background-color: #fff;
  cursor: pointer;
}

/* Copyright section */
.copyright {
  color: #fff;
  background-color: #000;
}

.copyright div {
  font-size: 1.2rem;
  padding: 1.4rem 0rem;
  background-color: #000;
  text-align: center;
}

.copyright div span {
  font-family: inherit;
  margin-left: 0.4rem;
  font-weight: 700;
}
