.container {
  width: 71rem;
  height: 38rem;
  background-color: white;
  position: fixed;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
}

.card-adding {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* product img */
.product-img img {
  width: 30rem;
  height: 30rem;
}

.product-img {
  padding: 0 2rem 0 2rem;
}
/* product detail */

.product-info {
  width: 32rem;
  /* height: 30rem; */
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.product-info .product-name {
  font-size: 2.8rem;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail .product-price {
  font-weight: 400;
  color: red;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.product-quantity .quantity {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.add-btn,
.decrease-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.add-icon,
.decrease-icon {
  font-size: 2.2rem;
}

/* note section */
.note {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.title {
  width: 100%;
  height: 5rem;
  background-color: black;
  position: relative;
}

.note-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffff;
  font-size: 2rem;
  margin: 0 2rem 0 2rem;
}

.note-title {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 6rem;
}

.message {
  background-color: aqua;
  height: 10rem;
  background-color: #fff;
}

.message textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding: 1.8rem 2rem;
  outline: none;
  resize: none;
}

/* order button */
.order-btn {
  margin-top: 1rem;
  width: 100%;
  height: 3.6rem;
  background-color: red;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.4rem;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  border: 2px solid red;
  transition: all 0.3s ease;
}

.order-btn span:first-child {
  font-weight: 600;
}

.order-btn:hover {
  background-color: #fff;
  color: red;
  font-weight: 600;
}
